// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$gray: #000000;
$light-gray: #F3F3F3;
$dark-gray: #333333;

$primary: #DDCEBB;
$secondary: #512501;
$green: #7ECBA1;
