  .faq-page {
    h2 {
      color: $secondary;
      font-size: 32px;
    }
    p {
      font-size: 15px;
      margin: 10px;
    }
  }

  .faq-item {
    border: 1px solid $primary;
    margin: 10px 0 30px 0;
    border-radius: 0.25rem;
    h4 {
      font-size: 2rem;
      letter-spacing: 0.05rem;
      background-color:$primary;
      margin-top : 0;
      padding: 10px;
      border-bottom: 1px solid $primary;
      border-radius: 0.25rem;
    }
  }
