#cart-title {
  font-family: 'Yellowtail', cursive;
  font-size: 70px;
  color: $primary;
}

.price-resume h6 {
  font-size: 18px;
}

.fdp-text {
  font-family: 'Montserrat Alternates', 'Helvetica';
  color: $primary;
  font-size: 13px;
}
