#cart-title {
  font-family: 'Yellowtail', cursive;
  font-size: 70px;
  color: $primary;
}

.price-resume {
  width: 82%;
  margin-bottom: 15px;

  h6 {
  font-size: 19px;
  padding-top: 10px;
  }
}

.prod-line {
  height: 10px;
}

.fdp-text {
  font-family: 'Montserrat Alternates', 'Helvetica';
  color: $primary;
  font-size: 15px;
}



