.cart-space{
  margin-bottom: 40px;
}

.price-resume {
  h6 {
    font-size: 19px;
    padding-top: 10px;
  }
}

.prod-line {
  height: 10px;
}

.fdp-text {
  font-family: 'Montserrat Alternates', 'Helvetica';
  color: $primary;
  font-size: 15px;
}

.empty-cart {
  h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0 40px 0;
    padding-top: 50px;
  }
  p {
    font-size: 16px;
    margin: 0 0 40px 0;
  }
}

#deliv-title {
  font-size: 48px;
}
.delivery-fields {
  box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  max-width: 550px;
}

.autocomplete-text {
  margin-top: 15px !important;
  font-size: 14px;
  font-style: italic;
  color: $green;
}

#autocomplete {
  margin-bottom: 20px;
}

.form-deliv {
  margin-top: 0px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
}
.order_client_name {
  margin-bottom: 20px;
}

.deliv-street {
  margin-top: 15px;
}

@media(min-width: 1024px) {
  .cart-bill {
    margin-left: 60px;
  }
  .delivery-fields {
    margin: 18px 0 20px 0px;
  }
  .cart-bottom {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  #street_number {
    width: 70px;
    margin-left: 10px;
  }
  #route {
    width: 309px;
  }
  #country {
    margin-left: 38px;
    width: 383px;
  }
  #postal_code {
    width: 100px;
    margin-left: 47px;
  }
  #locality {
    width: 278px;
  }
}

.deliv-city {
  margin-top: 15px;
}

.deliv-country {
  margin: 15px 0;
}

#locationField {
  margin-bottom: 10px;
}

.details-btn:hover{
  opacity: 0.9;
  color: black;
}

.btn-finalize {
  background-color: #E80000;
  color: white;
  font-size: 18px;
  padding: 20px 60px;
  border-radius: 3px;

}
  .btn-finalize:hover {
    text-decoration: none;
    color: white;
    opacity: 0.8;
    color: black;
  }

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px) {
  .cart-bill {
    margin-bottom: 20px;
  }
  #cart-title {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .empty-cart {
    h4 {
      margin: 0px 0 10px 0;
      padding-top: 20px;
    }
  }
  #price {
    font-size: 17px;
  }
  .price-resume {
    width: 100%;
    padding: 0px 25px;
    h6 {
      font-size: 17px;
    }
  }
  .fdp-text {
    font-size: 11px;
  }
  .full-total h4 {
    font-size: 20px;
  }
  .price-resume {
    margin: 0 0 10px 0;
  }

  .form-deliv {
    margin: 40px 0 0px 0;
  }
  .details-btn {
    font-size: 14px;
  }
  .btn-finalize {
    padding: 12px 0px;
    width: 100%;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1023px) {
  #street_number {
      margin-left: 10px;
  }
  #postal_code {
    margin-left: 45px;
  }
  #country {
    margin-left: 38px;
    width: 346px;
  }
  .btn-finalize {
    margin-bottom: 20px;
  }
}
