.shopping-cart{
  min-height: 83vh;
}

.cart-space{
  min-height: 42vh;
}

#cart-title {
  font-family: 'Yellowtail', cursive;
  font-size: 70px;
  color: $primary;
}

.price-resume {
  margin: 0 0 20px 106px;
  h6 {
    font-size: 19px;
    padding-top: 10px;
  }
}

.prod-line {
  height: 10px;
}

.fdp-text {
  font-family: 'Montserrat Alternates', 'Helvetica';
  color: $primary;
  font-size: 15px;
}

.empty-cart {
    min-height: 40vh;
  h4 {
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0 40px 0;
    padding-top: 100px;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
}



@media (max-width: 540px) {
  #cart-title {
    font-size: 50px;
    margin-bottom: 40px;
  }
  .cart-space {
    min-height: 36vh;
  }

  .empty-cart {
    min-height: 24vh;
    h4 {
      margin: 40px 0 20px 0;
      padding-top: 70px;
    }
  }
  #price {
    font-size: 17px;
  }
  .price-resume {
    width: 100%;
    padding: 0px 25px;
    h6 {
      font-size: 17px;
    }
  }
  .fdp-text {
    font-size: 11px;
  }
  .full-total h4 {
    font-size: 20px;
  }
  .price-resume {
    margin: 0 0 10px 0;
  }
}
