.contact {
  margin: 30px 0 30px 0;
  a {
    color: black;
  }
}

@media(min-width: 1025px) {
  .contact {
   display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
  }
}

.contact-left {
  margin-top: 15px;
  padding: 40px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.fa-map-marker-alt, .fa-phone, .fa-envelope {
  font-size: 22px;
}

.adresse, .phone, .mail {
  margin: 25px 15px;
}

.adresse-flex, .phone-flex, .mail-flex {
  display: flex;
  align-items: end;
  justify-content: flex-start;
}

.sub-title-contact {
  margin: 2px 0 0px 15px;
  font-size: 21px;
  font-weight: bold;
}

.main-text-contact {
  font-size: 16px;
}

.contact-right {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.form-contact {
  padding: 10px 20px;
  margin-top: 5px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
}

textarea#contact_body {
  height: 100px;
}

@media(max-width: 1024px) {
  .contact {
    margin: 10px 0 30px 0;
  }
  .contact-left {
    margin-bottom: 50px;
  }
}


