body {
  background-color: white;
  margin-top:71px;
}

.carousel {
  margin: 40px -3px 20px 23px;
}

.presentation p {
    margin: 20px;
    font-size: 14px;
    line-height: 1.9;
}

.separator {
  border-top: 2px solid #DDCEBB;
}
