body {
  background-color: white;
}

.tabs {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  h3 {
    color: $secondary ;
    font-size: 18px;
    padding: 0 15px;
    margin-bottom: 6px;
  }
  a {
    text-decoration: none;
  }
}

.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  h3{
  font-weight: bold;
  opacity: 0.8;
  }
}

.tab.active {
  border-bottom: 3px solid $primary;
}

@media (max-width: 540px) {
  .tabs {
    h3 {
      font-size: 11px;
    }
  }
}

.banner {
  height: 350px;
  // margin-top: 10px;
  img {
    height: 350px;
    width: 100%;
  }
}

.presentation p {
    margin: 20px;
    font-size: 14px;
    line-height: 1.9;
}

.carousel {
  margin: 40px -3px 20px 23px;
}

.separator {
  border-top: 2px solid #DDCEBB;
}

