body {
  background-color: white;
  margin-top:71px;
}

.presentation p {
    margin: 20px;
    font-size: 14px;
    line-height: 1.9;
}

.separator {
  border-top: 2px solid #DDCEBB;
}

// products slider
.owl-carousel .owl-stage-outer {
  padding:30px;
}
.active {
  border: none;
}
.item {
  text-align: center;
}

.owl-carousel .owl-item img {
  display: block;
  width: auto;
  margin: 0 auto;
}

.bounce-btn {
  display: inline-block;
}

.bounce-btn:hover {
  animation: bounce 1.5s infinite;
  .buy-text {
    opacity: 1;
  }
}

.product_submit {
  margin-top: 20px;
  border: none;
  font-size: 35px;
  background: $secondary;
  color:white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  &:hover {
    filter: drop-shadow(1px -1px 8px $gray);
    opacity: 0.9;
  }
}

.buy-text {
  opacity: 0;
  font-size: 16px;
  margin:15px;
  transition: opacity 0.3s linear;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
