body {
  background-color: white;
  margin-top:71px;
}

.presentation p {
    margin: 20px;
    font-size: 14px;
    line-height: 1.9;
}

.separator {
  border-top: 2px solid #DDCEBB;
}

// products slider

.owl-carousel .owl-stage-outer {
  padding:30px;
}
.active {
  border: none;
}
.item {
  text-align: center;
}
.slider-card {
  max-width: 240px;
  display: block;
}
