.legal-page {
  min-height: 82vh;
  p {
    margin: 10px 0;
  }
}

#company-infos {
  text-align: center;
  line-height: 30px;
}

.legal-text {
  margin: 30px auto;
  h2 {
    font-size: 28px;
  }
  h3 {
      font-size: 24px;
  }
  p, ul, li {
    font-size: 16px;
  }
}
