.order-page {
  min-height: 74vh;
  p {
    font-size: 18px;
    margin: 5px 0px 17px 55px;
  }
}

.return-prod {
  margin-left: 0 !important;
}

.order-title {
  margin: 0 0 15px 0;
}

.order-list {
  padding-top: 50px;
}

.order-list-item {
  max-width: 400px;
  border: 1px solid $primary;
  margin: 20px auto;
  padding-bottom: 10px;
}
.order-title {
  h6 {
    font-size: 18px;
  }
}

.fa-check {
  font-size: 14px;
  padding-right: 7px;
  margin-left: 12px;
}

u {
  margin-top: 1px;
}

.btn-danger {
  margin: 5px 0px 20px 0px;
}
