.order-show {
  min-height: 82vh;
}

.produit-item {
  border: 1px solid $primary;
  margin: 10px 0;
  padding: 10px 0;
  min-height: 210px;
  max-height: 210px;
}

.order-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.prd-list-right {
  h6 {
    font-size: 18px;
  }
  p{
    margin: 10px 0;
    font-size: 13px;
    font-family: $headers-font;
  }
}

.order-product {
  width: 130px;
  word-wrap: break-word;
}

@media(min-width: 1200px) {
  .prd-list {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  .produit-item {
    max-width: 450px;
    min-width: 450px;
    min-height: 225px;
    }
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .prd-list-right {
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .finalize-order-show {
    padding: 12px 70px;
  }
}

@media only screen
  and (max-device-width: 320px) {
  .finalize-order-show {
    padding: 12px 40px;
    margin-bottom: 20px;
  }
}

@media(min-device-width: 768px) {
  .prd-list-left {
     margin-top: 50px;
  }
  .prd-list-right {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
