.order-page {
  min-height: 44vh;
  p {
    font-size: 18px;
    margin: 5px 0px 17px 55px;
  }
}

.return-prod {
  margin-left: 0 !important;
}

.order-title {
  margin: 0 0 15px 0;
}

.order-list {
  padding-top: 50px;
}

.order-list-item {
  max-width: 400px;
  min-height: 365px;
  border: 1px solid $primary;
  margin: 20px auto;
  padding-bottom: 10px;
}
.order-title {
  h6 {
    font-size: 18px;
  }
}

.fa-check {
  font-size: 14px;
  padding-right: 7px;
  margin-left: 12px;
}

.btn-danger {
  margin: 5px 0px 20px 0px;
}

.order-cancel p {
  margin: 10px 0;
}


.delete-order button {
  border:none;
  padding:0;
  background-color: white;
  opacity: 1;
}

.delete-order button:hover {
  opacity: 0.6;
}
