.order-show {
  min-height: 82vh;
}


.produit-item {
  border: 1px solid $primary;
  margin: 10px 0;
  padding: 10px 0;
  min-height: 200px;
  max-height: 200px;
}

.order-detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.prd-list-right {
  h6 {
    font-size: 18px;
  }
}

.order-product {
  width: 130px;
  word-wrap: break-word;
}




@media(min-device-width: 1200px) {
  .prd-list {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  .produit-item {
    max-width: 450px;
    min-width: 450px;
    }
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .prd-list-right {
    padding-left: 20px;
  }
}

@media(min-device-width: 768px) {
  .prd-list-left {
     margin-top: 50px;
  }
  .prd-list-right {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
