.order-recap-page {
  min-height: 87vh;
  h1 {
    margin: 0 0 20px 0;
  }
}
.recap-order-item {
  border: 1px solid $primary;
  margin: 20px 0 20px 0;
}
.item-recap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.item-recap-right {
  width: 200px;
  word-wrap: break-word;
}

.pic-recap {
  max-height: 125px;
  max-width: 125px;
  padding: 0 5px 10px 5px;
}

.stripe-checkout {
  margin-bottom: 10px;
}

#checkout-button {
  background: $green;
  color: white;
  font-size: 16px;
  border-radius: 3px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.30),
    0 5px 12px rgba(0, 0, 0, 0.22);
}

#checkout-button:hover {
  opacity: 0.9;
}

.payment-disclaimer p {
  margin: 20px 0 0 0;
  color: red;
}


@media(min-width: 1024px) {
  .recap-order-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 1023px) {
    .recap-order {
      border-bottom: 1px solid $primary;
      margin-bottom: 10px;
    }
  }
