.show-page {
  min-height: 85vh;
}


.tabs-show {
  margin-bottom: 10px;
}

.prod-show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px 20px 100px;
}

.show-left {
  padding: 0px 30px;
}

.show-pic {
  margin-bottom: 30px;
}

.buy-show {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.test1 {
  flex-grow: 1;
  margin-left: 30px;
  p {
    font-size: 14px;
  }
}

#order_item_quantity {
  width: 55%;
}

.test2 {
  flex-grow: 2;
}


.sold-out {
  background-color: red;
  font-size: 16px !important;
  color: white !important;
  padding: 8px;
  margin: 0;
  border-radius: 2px !important;
}

.stock {
  color: $secondary;
}

.show-right {
  flex: 1;
  padding: 0px 0px 0px 165px;
  h6{
    margin-bottom: 15.5px;
  }
}

.details p {
  font-size: 13px;
  margin: -13px 2px 20px
}

.title {
  font-size: 20px;
  color: $secondary;
}
