.show-page {
  min-height: 92vh;
}

.show-pic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width: 1025px) {
  .prod-show {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .prod-show {
    margin: 20px 10px 20px 100px;
  }
}
.show-left {
  padding: 0px 30px;
}
.show-pic {
  margin-bottom: 30px;
}
.q-show {
  p {
    font-size: 16px;
  }
}

 .buy-show{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 25px;
}

.buy-show {
  .form-control {
  width: 120%;
  }
}

#sold-out {
  background-color: red;
  font-size: 16px !important;
  color: white !important;
  padding: 8px;
  margin: 0;
  border-radius: 2px !important;
}

.stock {
  color: $secondary;
}

.show-right {
  flex: 1;
  padding: 0px 0px 0px 165px;
  margin-right: 50px;
  h6{
    margin-bottom: 15.5px;
  }
}

.sep {
  border-top: 2px solid #DDCEBB;
  margin: 0;
}

.sub-right {
  margin: 20px 10px;
  display: flex;
  align-items: center;
}

.stars-big  {
  margin: 0;
  padding: 4px 15px 13px 150px;
  p , .fa-star {
  font-size: 15px;
  margin: 0;
  }
}

#up-nb-comments {
  margin: 0px 0 10px;
}

.details p {
  font-size: 13px;
  margin: -13px 2px 20px
}

.title {
  font-size: 20px;
  color: $secondary;
}

.subtitle h6 {
  font-weight: bold;
  font-size: 25px;
  color: #512501;
}

@media(max-width: 767px) {
  .prod-show {
    margin-top: 20px;
  }
  .show-left {
    margin-bottom: 50px;
  }
  .show-right {
    padding: 0;
    margin-right: 0;
  }
  .stars-big  {
    padding: 0 10px 0 0;
    p , .fa-star {
    font-size: 13px;

    }
  }
  .subtitle h6 {
    font-size: 18px;
    padding-right: 15px;
    margin: 15px 0 10px 0;
  }
  #up-nb-comments {
    margin: 12px 0 10px;
  }
  .sub-right {
    margin: 20px 65px;
  }
  .details {
    margin-bottom: 40px;
  }
  #sold-out {
    font-size: 11px !important;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
 {
  .show-right {
    padding: 0;
  }
  .buy-show {
    margin: 15px 160px;
  }
  .show-left {
    margin-bottom: 50px;
  }
  .sub-right {
    margin: 50px 0 20px 150px;
    max-width: 500px;
  }
  .details {
    margin-left: 30px;
  }
}

@media
  (min-width: 768px)
  and (max-width: 1024px)
 {
  .show-right {
    padding: 0;
    margin-right: 0;
  }
  .buy-show {
    margin: 15px 160px;
  }
  .show-left {
    margin-bottom: 50px;
  }
  .sub-right {
    margin: 50px 0 20px 150px;
    max-width: 500px;
  }
  .details {
    margin-left: 30px;
  }
}
