.page {
  min-height: 86vh;
  p {
    margin: 10px 0;
  }
}


.main-title {
  font-family: 'Yellowtail', cursive;
  font-size: 70px;
  color: $primary;
  margin-bottom: 30px;
}

.main-text {
  font-size: 14px;
  line-height: 22px;
}

@media(min-width: 1024px) {
  .location-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}


.fa-compass, .fa-clock {
  font-size: 26px;
}

.adress, .time {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.sub-title {
  margin: 3px 0 0px 20px;
  font-size: 20px;
  font-weight: bold;
}
.location-right {
  margin-right: 35px;
}

.adress-right {
  margin-left: 56px;
}

#adress-details {
  padding-left: 24px;
}

.time-right {
  margin-left: 40px;
}

.location-left {
  margin-left: 65px;
}


#map {
  height: 400px;
  width: 500px;
}

  .mobile-display1 {
    margin-left: 33px !important;
  }
  .mobile-display {
    margin-left: 15px !important;
  }

@media(max-width: 730px) {
  #map {
    height: 300px;
    width: 300px;
    margin: 30px 15px;
  }

  .main-title {
    font-size: 50px;
  }
  .location-left {
    margin-left: 13px;
  }
  .adress-right {
    margin-left: 12px;
  }
  .time-right {
    .sub-title {
      margin-left: -15px;
    }
  }
}

@media only screen
  and (min-device-width: 667px)
  and (max-device-width: 1023px)
 {
  .location-head {
    margin: 15px 100px;
  }
}

@media only screen
  and (min-device-width: 1024px)
  and (max-device-height: 768px)
 {
  .location-right {
    margin-right: 0;
  }
}
