.page {
  min-height: 86vh;
  p {
    margin: 10px 0;
  }
}

.main-title {
  font-family: 'Yellowtail', cursive;
  font-size: 70px;
  color: $primary;
  margin-bottom: 30px;
}

.main-text {
  font-size: 14px;
  line-height: 22px;
}

.fa-compass, .fa-clock {
  font-size: 26px;
}

.adress, .time {
  display: flex;
  align-items: end;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.sub-title {
  margin: 3px 0 0px 20px;
  font-size: 20px;
  font-weight: bold;
}

.adress-right {
  margin-left: 56px;
}

#adress-details {
  padding-left: 24px;
}

.time-right {
  margin-left: 40px;
}

#map {
  height: 400px;
  width: 400px;
  border: solid 1px red;
}
