.page {
  min-height: 86vh;
}

.main-title {
  font-family: 'Yellowtail', cursive;
  font-size: 70px;
  color: $primary;
  margin-bottom: 30px;
}

.main-text {
  font-size: 14px;
  line-height: 22px;
}


