<div class="container show-page">
  <div class="tabs tabs-show">
    <%= render "shared/tab" %>
  </div>
  <div class="breadcrumbs back">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>

    <% if @produits.empty? %>
      <h6 class="empty-prod text-center">Désolé, nous n'avons pas trouvé de produits correspondants à cette recherche...</h6>
    <% else %>
      <%= render "produits/product_card" %>
    <% end %>
</div>


