<div class="container">
  <div class="row">
      <% @produits.each do |produit| %>
      <div class="col-sm-3 col-xs-12">
        <div class="card text-center">
          <div class="card-pic">
            <%= cl_image_tag produit.photo, height: 200, width: 250, crop: :thumb, class: "card-picture" %>
          <div class="card-hover">
            <h4>Voir le produit</h4>
          </div>
          </div>

          <div class="card-info">
            <h5><%= produit.nom %></h5>
            <h6>  <%= produit.prix %> €</h6>
            <%= link_to "Ajouter au Panier", cgv_path , class: "btn btn-primary"  %>
            <!-- button to handle when cart build -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

