<div class="container show-page">
  <div class="tabs tabs-show">
    <% @gammes.each do |g| %>
      <%= link_to  gamme_path(g), class: "tab" do %>
        <h3><%= g.name %></h3>
      <% end %>
    <% end %>
  </div>

  <hr class=separator2>
  <%= render "produits/product_card" %>
</div>


