body {
  background-color: white;
  margin-top: 71px;
  color: $dark-gray;
}


body.user-is-tabbing *:focus,
.selected-flag:focus {
  outline: 3px auto -webkit-focus-ring-color !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) .selected-flag:focus {
  outline: none !important;
}
