<%= link_to  cart_path, class: "header-cart" do %>
  <i class="fas fa-shopping-cart"></i>
  <div class="cart-review">
  <p>Panier</p>
  <p><%= "#{current_order.order_items.size} Articles"%></p>
  </div>
<% end %>


