<div class="search-prod">
  <%= form_tag produits_path, method: :get do %>
    <%= text_field_tag :search,
      params[:search],
      class: "search-prod form-search",
      id: "",
      label: "search",
      placeholder: "Cherchez un produit..." %>
    <%= button_tag(type: "submit", class: "search_submit") do %>
    <i class='fa fa-search'></i>
    <% end %>
  <% end %>
</div>
