<div class="container">
  <div class="tabs tabs-show">
    <% @prod_gammes.each do |g| %>
      <%= link_to  gamme_path(g), class: "tab", id: "#{g.id}" do %>
        <h3><%= g.name %></h3>
      <% end %>
    <% end %>
  </div>
  <hr class=separator2>
</div>
