<% @orders.each do |order| %>
  <ul>
    <li>Statuts de la commande: <strong style="color: green"><%= order.order_status.name %></strong></li>
    <li>Date: <%= order.created_at.strftime("%d/%m/%Y à %k:%M (%Z)") %></li>
    <li>Montant: <%= humanized_money_with_symbol(order.total_price) %></li>
  </ul>
<% end %>

