<% @orders.each do |order| %>
  <ul>
    <li>Statuts de la commande: <%= order.order_status.name %></li>
    <li>Date: <%= order.created_at %></li>
    <li>Montant: <%= order.total_price %></li>
  </ul>
<% end %>
