<div class="faq-page">
  <div class="breadcrumbs back">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>

  <div class="container">
    <div class="col-xs-12">
      <h1 class="main-title page-title text-center" id="faq">Besoin d'aide?</h1>
      <hr class="separator">
      <div class="faq-item">
        <h4>Comment créer Mon Compte ?</h4>
        <p>Il vous suffit de cliquer sur le bouton « Se connecter » situé en haut à droite de votre écran, et de renseigner vos nom et prénom, adresse, numéro de téléphone portable, adresse e-mail et un mot de passe. <br>
        Une fois le mot de passe confirmé, il suffit de cliquer sur le button "S'inscrire". </p>
      </div>
      <div class="faq-item">
        <h4>Comment modifier les informations de Mon Compte ?</h4>
        <p> Une fois connecté à votre compte, rendez-vous dans l'espace « Mon compte ». Vous pourrez modifier vos informations,
          ou supprimer votre compte.</p>
      </div>
      <div class="faq-item">
        <h4>Que faire si j'ai oublié mon mot de passe ?</h4>
        <p> Il vous suffit de cliquer sur le bouton « Se connecter » situé en haut à droite de votre écran. Ensuite, cliquez sur "Mot de passe oublié ?>. Renseignez votre email et un mail de réinitialisation de mot de passe vous sera envoyé.</p>
      </div>
      <div class="faq-item">
        <h4>Quels modes de paiement sont acceptés?</h4>
        <p>Nous acceptons les paiements par Carte Visa, Mastercard et American Express.</p>
      </div>
      <div class="faq-item">
        <h4>Les paiements sont ils sécurisés ?</h4>
        <p>Les paiement sont gérés et garantis par la société Stripe, leader sur le marché des paiements en ligne, en accord avec la réglementation en vigueur (SCA). </p>
      </div>
      <div class="faq-item">
        <h4>Ma commande est enregistrée, que se passe-t-il maintenant ?</h4>
        <p>Ne fois le paiement effectué et votre commande enregistrée, un mail de confirmation vous est envoyé. Un second
          email d'expédition vous est adressé dès que votre colis est remis au réseau LA POSTE COLISSIMO.</p>
      </div>
      <div class="faq-item">
        <h4>Puis-je modifier ma commande une fois validée ?</h4>
        <p>Une fois votre commande validée et par conséquent préparée, vous ne pouvez plus la modifier. En cas de problème,
          prenez
          contact au plus vite avec notre service client afin de trouver une solution.</p>
      </div>
      <div class="faq-item">
        <h4>Puis-je modifier l'adresse de livraison une fois ma commande passée ?</h4>
        <p>Si vous n’avez pas encore reçu le mail de confirmation de préparation de commande, il est possible de contacter notre
        service client pour modifier l’adresse. Une fois la commande préparée, vous ne pourrez plus modifier cette dernière.</p>
      </div>
      <div class="faq-item">
        <h4>Quels sont les coûts et délais de livraison?</h4>
        <p>Les envois sont effectués en Colissimo  et vous sont facturés 5,80€ jusqu'à 50€ d'achats. <br>
        Au delà les frais de port vous sont gracieusement offerts. <br>
        Les services de la Poste s'engagent à une livraison en 2 jours ouvrables.</p>
      </div>
      <div class="faq-item">
        <h4>Comment suivre ma commande ?</h4>
        <p>Impatient(e) de recevoir votre nouvelle commande ? Boone nouvelle un mail vous est envoyé quand votre commande est expédiée. <br>
        Sur cet email se trouve le numéro de suivi Colissimo. <br>
        Rendez-vous sur la page <a href="https://www.laposte.fr/outils/suivre-vos-envois" target="_blank" rel="noopener noreferrer">Suivre un envoi</a> du site internet de La Poste.</p>
      </div>
      <div class="faq-item">
        <h4>Comment obtenir une facture ?</h4>
        <p>Une fois votre commande validée, vous recevez un email de confirmation d'envoi' accompagné de votre facture. Si cette
        dernière n'est pas en pièce jointe de votre email, n'hésitez pas à nous contacter pour obtenir une facture.</p>
      </div>
      <div class="faq-item">
        <h4>Comment faire une demande de remboursement / d'échange ?</h4>
        <p>Merci de nous contacter en vous munissant de votre numéro de commande. Ensuite, après contact avec le SAV, veuillez apposer sur votre colis le bon de retour COLISSIMO que nous vous adressons par mail suite à votre requête. <br>
        Déposez le dans votre bureau de poste sans oublier de faire tamponner la preuve de dépôt que vous conserverez jusqu'à la
        clôture de votre dossier échange. Vous conserverez la preuve du dépôt jusqu'au terme du dossier. <br>
        Si le SAV donne son accord, nous vous expédions à nos frais le produit pour lequel vous avez demandé un échange. <br>
        Dans le cas d'une demande de remboursement, nous procédons, après acceptation de la demande par le SAV, sous 14 jours francs au remboursement sur la carte bancaire ayant servi au paiement initial ou par chèque bancaire du/des produit(s) retourné(s) majoré s'il y a lieu des frais de transport initialement payés (cf CGV).</p>
      </div>
    </div>
  </div>
</div>


<%= render 'shared/back_to_top' %>
