<div class="faq-page">
  <div class="breadcrumbs back">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>

  <div class="container">
    <div class="col-xs-12">
      <h1 class="main-title page-title text-center" id="faq">Besoin d'aide?</h1>
      <hr class="separator">

      <div class="faq-item">
        <h4>Quels sont les coûts et délais de livraison?</h4>
        <p>Les envois sont effectués en Colissimo  et vous sont facturés 5,80€ jusqu'à 50€ d'achats. <br>
        Au delà les frais de port vous sont gracieusement offerts. <br>
        Les services de la Poste s'engagent à une livraison en 2 jours ouvrables.</p>
      </div>
      <div class="faq-item">
        <h4>Comment suivre ma commande ?</h4>
        <p>Impatient(e) de recevoir votre nouvelle commande ? Boone nouvelle un mail vous est envoyé quand votre commande est expédiée. <br>
        Sur cet email se trouve le numéro de suivi Colissimo. <br>
        Rendez-vous sur la page <a href="https://www.laposte.fr/outils/suivre-vos-envois" target="_blank" rel="noopener noreferrer">Suivre un envoi</a> du site internet de La Poste.</p>
      </div>


    </div>
  </div>



</div>


<%= render 'shared/back_to_top' %>
