  <div class="breadcrumbs back">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>

<h1 class="main-title page-title text-center" id="cgv"><strong>CONDITIONS GENERALES DE VENTE</strong></h1>
