<div class="cgv-page">
  <div class="breadcrumbs back">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>

  <div class="container">
    <div class="col-xs-12">
      <h1 class="main-title page-title text-center" id="cgv"><strong>CONDITIONS GENERALES DE VENTE</strong></h1>
      <hr class="sep">
      <div class="cgv-text">
        <h2>Vos données privées</h2>
        <p>Vous disposez d'un droit total sur les données personnelles que vous nous avez confiées (modification, suppression, portabilité de vos données dans un format exploitable...). <br>
        Nous ne réalisons pas de traitements présentant un risque élevé pour les droits et libertés des personnes physiques. <br>
        Nous ne rétrocédons pas vos données privées à des tiers. <br>
        Nous ne transférons aucune de vos données personnelles hors de l'UE (Union Européenne).</p>
        <hr class="sep">
        <h2>CONDITIONS GENERALES DE VENTE DU SITE www.lacabanedemaii.com</h2>
        <p>Les conditions générales suivantes ont été réalisées en tenant compte des nouvelles dispositions réglementaires visant à protéger les clients sur les sites de vente en ligne. <br>
        Vous pouvez vous informer davantage en consultant le portail de l'économie et des finances relatif à ces évolutions réglementaires.
        </p>
        <br>
        <strong><p>En résumé :</p></strong>
        <ul>
          <li>
            <p>Délai de rétractation porté de 7 à 14 jours</p>
            <p>La loi consommation permet au consommateur de bénéficier d'un temps de réflexion plus long suite à une commande en ligne. S'il souhaite retourner son achat, le délai de rétractation est désormais de 14 jours, contre 7 aujourd'hui.</p>
          </li>
          <li>
            <p>Livraison</p>
            <p>La loi consommation instaure l'obligation pour le professionnel de livrer le bien acheté par internet à la date indiquée dans son offre commerciale. A défaut d'indication d'une date de livraison, le professionnel est tenu de livrer au plus tard dans les 30 jours à compter de la commande.</p>
          </li>
          <li>
          <p>Remboursement sous 14 jours maximum</p>
          <p>Grâce à la loi consommation, le consommateur est remboursé dans un délai de 14 jours maximum après avoir exercé son droit de rétractation auprès du professionnel ou constaté un défaut de fabrication du produit</p>
          </li>
          <li>
            <p>Protection contre ventes forcées (cases pré-cochées)</p>
            <p>Avec la loi consommation, le consommateur est mieux protégé des ventes forcées par internet. Désormais, les professionnels n'ont plus la possibilité de pré-cocher des options supplémentaires payantes lors d'une commande en ligne empêchant la facturation de services non souhaités par le consommateur.</p>
          </li>
          <li>
            <p>Obligation pour le professionnel de fournir plus d'informations au consommateur avant l'achat sur internet.</p>
            <p>La loi consommation permet au consommateur d'être mieux informé sur le bien qu'il achète par internet. Les professionnels de la vente en ligne doivent afficher de façon claire les caractéristiques du produit, les modalités de paiement et les éventuelles restrictions de livraison.</p>
          </li>
        </ul>
        <hr class="sep">
        <h2>Le vendeur</h2>
        <p>
          Le site www.lacabanedemaii.com est édité par la société CYMATHO (la cabane de Maï) SAS, au capital de 6000€. <br>
          Le siège social est situé au 16 avenue pasteur, N° 3 la closerie du parc, 33510 andernos les bains. <br>
          Numéro de téléphone : +33 6 42 22 57 11 <br>
          Adresse mail : lacabanedemaii@gmail.com
        </p>
        <p>
          Autorisation d'exercer faite par la chambre de commerce et d'industrie de Bordeaux <br>
          17 place de la bourse <br>
          CS61274 <br>
          33076 Bordeaux cedex-France <br>
          N°SIRET : 81964459200019 <br>
          N°TVA : FR84819644592
        </p>
        <h2>Service clienèle et suivi de commande</h2>
        <p>Pour toute information ou question le client peut contacter le service client à l'adresse : lacabanedemaii@gmail.com ou au numéro de téléphone suivant : 06 42 22 57 11 , du mardi au dimanche, de 10H00 à 13H00 et de 15H00 à 19H00.</p>
        <hr class="sep">
        <h2>1 - Votre compte</h2>
        <p> Si vous utilisez un service proposé par CYMATHO sur son site www.lacabanedemaii.com, vous êtes responsable du
        maintien de la confidentialité de votre compte et mot de passe, des restrictions d'accès à votre ordinateur, et dans
        la limite de ce qui est autorisé par la loi applicable, vous acceptez d'être responsable de toutes les activités qui
        ont été menées depuis votre compte ou avec votre mot de passe. Vous devez prendre toutes les mesures nécessaires pour
        vous assurez que votre mot de passe reste confidentiel et sécurisé, et devez nous informer immédiatement si vous avez
        des raisons de croire que votre mot de passe et connu de quelqu'un d'autre, ou si le mot de passe est utilisé ou
        susceptible d'être utilisé de manière non autorisée. Vous êtes responsable de la validité et du caractère complet des
        informations que vous nous avez fournies, et devez nous informer de tout changement concernant ces informations. Vous
        pouvez accéder à vos informations et les modifier, ainsi que vos paramètres de compte, dans l'espace <%= link_to t(".profile", default: "mon compte"),edit_user_registration_path %> du site lacabanedemaii.com.
        Vous ne devez pas utiliser un quelconque service proposé par CYMATHO sur son site www.lacabanedemaii.com :
        <ul class="list-unstyled">
          <li>
            <p>a) d'une façon qui causerait, ou serait susceptible de causer une interruption, un dommage, ou une altération d'un service CYMATHO.</p>
          </li>
          <li>
            <p>b) Dans un but frauduleux, ou en relation avec un crime ou une activité illégale.</p>
          </li>
          <li>
            <p>c) Dans le but de provoquer des troubles, nuisances ou causes d'anxiétés. Nous nous réservons le droit de refuser l'accès, de fermer un compte, de retirer ou d'éditer du contenu si vous êtes en violation des lois applicables, de ces conditions d'utilisation ou tous autres termes, conditions, lignes directrices ou politique de CYMATHO afférentes à son site www.lacabanedemaii.com.</p>
          </li>
        </ul>
        <strong><h6>Mineurs</h6></strong>
        <p> Nous ne vendons pas de produits aux mineurs. Si vous avez moins de 18 ans, vous ne pouvez utiliser un service CYMATHO sur le site www.lacabanedemaii.com que sous la surveillance d'un parent ou d'un tuteur.</p>
        <hr class="sep">
        <h2>2 - caractéristiques des articles proposés à la vente</h2>
        <p>Les produits proposés par le vendeur LA CABANE DE MAÏ au client sont garantis authentiques et sont identiques à ceux que la CYMATHO commercialise en magasin en ville sous son enseigne LA CABANE DE MAÏ. Ces articles sont proposés à la vente dans la limite des stocks annoncés sur le site, cette précision étant importante dans la mesure où la possibilité de réassort ne saurait être établie de manière certaine et récurrente. Chaque article est accompagné d'un descriptif établi par le vendeur lacabanedemaii.com. Les photographies du catalogue réalisées par le vendeur lacabanedemaii.com sont les plus fidèles possibles mais ne peuvent assurer une similitude parfaite avec l'article offert, notamment en ce qui concerne les couleurs dont le rendu varie selon la qualité de l'éclairage. Les photographies, graphismes et les descriptions des produits proposés à la vente sont effectués par lacabanedemaii.com et sont sa pleine propriété. Aucune image ne pourra faire l'objet d'une utilisation ou exploitation à des fins commerciales. Au cas où un fournisseur modifie un produit, la représentation graphique de celui-ci ne saurait engager la responsabilité du vendeur lacabanedemaii.com ni même affecter la validité de la vente.</p>
        <hr class="sep">
        <h2>3 - Zone géographique</h2>
        <p> La vente en ligne des articles présentés dans le site est réservée aux clients qui résident sur les secteurs géographiques suivant :
        <strong>France métropolitaine, corse, principauté de Monaco.</strong></p>
        <p class="disclaimer">Nous ne livrons pas les DOM-TOM pour des raisons de logistique. Nos excuses à nos amis de l'outre-mer.</p>




      </div>
    </div>
  </div>

</div>
