<div class="cgv-page">
  <div class="breadcrumbs back">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>

  <div class="container">
    <div class="col-xs-12">
      <h1 class="main-title page-title text-center" id="cgv"><strong>CONDITIONS GENERALES DE VENTE</strong></h1>
      <hr class="separator">
      <div class="cgv-text">
        <h2>Vos données privées</h2>
        <p>Vous disposez d'un droit total sur les données personnelles que vous nous avez confiées (modification, suppression, portabilité de vos données dans un format exploitable...). <br>
        Nous ne réalisons pas de traitements présentant un risque élevé pour les droits et libertés des personnes physiques. <br>
        Nous ne rétrocédons pas vos données privées à des tiers. <br>
        Nous ne transférons aucune de vos données personnelles hors de l'UE (Union Européenne).</p>
        <hr class="separator">
        <h2>CONDITIONS GENERALES DE VENTE DU SITE www.lacabanedemaii.com</h2>
        <p>Les conditions générales suivantes ont été réalisées en tenant compte des nouvelles dispositions réglementaires visant à protéger les clients sur les sites de vente en ligne. <br>
        Vous pouvez vous informer davantage en consultant le portail de l'économie et des finances relatif à ces évolutions réglementaires.
        </p>
        <br>
        <strong><p>En résumé :</p></strong>
        <ul>
          <li>
            <p>Délai de rétractation porté de 7 à 14 jours</p>
            <p>La loi consommation permet au consommateur de bénéficier d'un temps de réflexion plus long suite à une commande en ligne. S'il souhaite retourner son achat, le délai de rétractation est désormais de 14 jours, contre 7 aujourd'hui.</p>
          </li>
          <li>
            <p>Livraison</p>
            <p>La loi consommation instaure l'obligation pour le professionnel de livrer le bien acheté par internet à la date indiquée dans son offre commerciale. A défaut d'indication d'une date de livraison, le professionnel est tenu de livrer au plus tard dans les 30 jours à compter de la commande.</p>
          </li>
          <li>
          <p>Remboursement sous 14 jours maximum</p>
          <p>Grâce à la loi consommation, le consommateur est remboursé dans un délai de 14 jours maximum après avoir exercé son droit de rétractation auprès du professionnel ou constaté un défaut de fabrication du produit</p>
          </li>
          <li>
            <p>Protection contre ventes forcées (cases pré-cochées)</p>
            <p>Avec la loi consommation, le consommateur est mieux protégé des ventes forcées par internet. Désormais, les professionnels n'ont plus la possibilité de pré-cocher des options supplémentaires payantes lors d'une commande en ligne empêchant la facturation de services non souhaités par le consommateur.</p>
          </li>
          <li>
            <p>Obligation pour le professionnel de fournir plus d'informations au consommateur avant l'achat sur internet.</p>
            <p>La loi consommation permet au consommateur d'être mieux informé sur le bien qu'il achète par internet. Les professionnels de la vente en ligne doivent afficher de façon claire les caractéristiques du produit, les modalités de paiement et les éventuelles restrictions de livraison.</p>
          </li>
        </ul>
        <hr class="separator">
        <h2>Le vendeur</h2>
        <p>
          Le site www.lacabanedemaii.com est édité par la société CYMATHO (la cabane de Maï) SAS, au capital de 6000€. <br>
          Le siège social est situé au 16 avenue pasteur, N° 3 la closerie du parc, 33510 andernos les bains. <br>
          Numéro de téléphone : +33 6 42 22 57 11 <br>
          Adresse mail : lacabanedemaii@gmail.com
        </p>
        <p>
          Autorisation d'exercer faite par la chambre de commerce et d'industrie de Bordeaux <br>
          17 place de la bourse <br>
          CS61274 <br>
          33076 Bordeaux cedex-France <br>
          N°SIRET : 81964459200019 <br>
          N°TVA : FR84819644592
        </p>
        <h2>Service clienèle et suivi de commande</h2>
        <p>Pour toute information ou question le client peut contacter le service client à l'adresse : lacabanedemaii@gmail.com ou au numéro de téléphone suivant : 06 42 22 57 11 , du mardi au dimanche, de 10H00 à 13H00 et de 15H00 à 19H00.</p>
        <hr class="separator">
        <h2>1 - Votre compte</h2>
        <p> Si vous utilisez un service proposé par CYMATHO sur son site www.lacabanedemaii.com, vous êtes responsable du
        maintien de la confidentialité de votre compte et mot de passe, des restrictions d'accès à votre ordinateur, et dans
        la limite de ce qui est autorisé par la loi applicable, vous acceptez d'être responsable de toutes les activités qui
        ont été menées depuis votre compte ou avec votre mot de passe. Vous devez prendre toutes les mesures nécessaires pour
        vous assurez que votre mot de passe reste confidentiel et sécurisé, et devez nous informer immédiatement si vous avez
        des raisons de croire que votre mot de passe et connu de quelqu'un d'autre, ou si le mot de passe est utilisé ou
        susceptible d'être utilisé de manière non autorisée. Vous êtes responsable de la validité et du caractère complet des
        informations que vous nous avez fournies, et devez nous informer de tout changement concernant ces informations. Vous
        pouvez accéder à vos informations et les modifier, ainsi que vos paramètres de compte, dans l'espace <%= link_to t(".profile", default: "mon compte"),edit_user_registration_path %> du site lacabanedemaii.com.
        Vous ne devez pas utiliser un quelconque service proposé par CYMATHO sur son site www.lacabanedemaii.com :
        <ul class="list-unstyled">
          <li>
            <p>a) d'une façon qui causerait, ou serait susceptible de causer une interruption, un dommage, ou une altération d'un service CYMATHO.</p>
          </li>
          <li>
            <p>b) Dans un but frauduleux, ou en relation avec un crime ou une activité illégale.</p>
          </li>
          <li>
            <p>c) Dans le but de provoquer des troubles, nuisances ou causes d'anxiétés. Nous nous réservons le droit de refuser l'accès, de fermer un compte, de retirer ou d'éditer du contenu si vous êtes en violation des lois applicables, de ces conditions d'utilisation ou tous autres termes, conditions, lignes directrices ou politique de CYMATHO afférentes à son site www.lacabanedemaii.com.</p>
          </li>
        </ul>
        <strong><h6>Mineurs</h6></strong>
        <p> Nous ne vendons pas de produits aux mineurs. Si vous avez moins de 18 ans, vous ne pouvez utiliser un service CYMATHO sur le site www.lacabanedemaii.com que sous la surveillance d'un parent ou d'un tuteur.</p>
        <hr class="separator">
        <h2>2 - caractéristiques des articles proposés à la vente</h2>
        <p>Les produits proposés par le vendeur LA CABANE DE MAÏ au client sont garantis authentiques et sont identiques à ceux que la CYMATHO commercialise en magasin en ville sous son enseigne LA CABANE DE MAÏ. Ces articles sont proposés à la vente dans la limite des stocks annoncés sur le site, cette précision étant importante dans la mesure où la possibilité de réassort ne saurait être établie de manière certaine et récurrente. Chaque article est accompagné d'un descriptif établi par le vendeur lacabanedemaii.com. Les photographies du catalogue réalisées par le vendeur lacabanedemaii.com sont les plus fidèles possibles mais ne peuvent assurer une similitude parfaite avec l'article offert, notamment en ce qui concerne les couleurs dont le rendu varie selon la qualité de l'éclairage. Les photographies, graphismes et les descriptions des produits proposés à la vente sont effectués par lacabanedemaii.com et sont sa pleine propriété. Aucune image ne pourra faire l'objet d'une utilisation ou exploitation à des fins commerciales. Au cas où un fournisseur modifie un produit, la représentation graphique de celui-ci ne saurait engager la responsabilité du vendeur lacabanedemaii.com ni même affecter la validité de la vente.</p>
        <hr class="separator">
        <h2>3 - Zone géographique</h2>
        <p> La vente en ligne des articles présentés dans le site est réservée aux clients qui résident sur les secteurs géographiques suivant :
        <strong>France métropolitaine, corse, principauté de Monaco.</strong></p>
        <p class="disclaimer">Nous ne livrons pas les DOM-TOM pour des raisons de logistique. Nos excuses à nos amis de l'outre-mer.</p>
        <hr class="separator">
        <h2>4 - Prix des produits proposés sur le site www.lacabanedemaii.com</h2>
        <p>Les prix figurant dans le catalogue sont des prix TTC en euros tenant compte de la TVA applicable au jour de la commande (soit 20%). Tout changement du taux sera répercuté sur le prix des articles. Le vendeur lacabanedemaii.com se réserve le droit de modifier ses prix à tout moment, étant entendu que le prix figurant au catalogue le jour de la commande sera le seul applicable au client. Le panier du client consultable tout au long des achats précise en sus des prix des produits le montant des frais de traitement de commande, de transport et d’expédition.</p>
        <hr class="separator">
        <h2>5 - Disponibilité des produits</h2>
        <p>En cas d'indisponibilité du produit commandé le vendeur SAS CYMATHO  responsable du site www.lacabanedemaii.com informera le client au plus tôt. Conformément aux dispositions de l'article L121.20.3 du code de la consommation, le vendeur pourra dans ce cas, en accord avec le client, fournir un produit d'une qualité et d'un prix équivalent. Les frais d'expédition seront alors à la charge du vendeur. A défaut pour le vendeur de faire usage de cette faculté, le client sera remboursé sans délais et au plus tard dans les trente jours du paiement des sommes qu'il a versées.</p>
        <hr class="separator">
        <h2>6 - Commandes</h2>
        <p>Toute commande suppose l'adhésion sans restriction ni réserve aux présentes conditions générales de vente. A partir du moment où le client a enregistré sa commande en cliquant sur l' icône « commander » et qu'il a choisi un moyen de paiement parmi les choix proposés, il est considéré comme <strong> ayant accepté en connaissance de cause et sans réserve les présentes conditions générales de vente, les prix, volumes et quantités des produits proposés à la vente et commandés.</strong> <br>
        Le client commande par internet à l'adresse URL suivante : www.lacabanedemaii.com. La commande du client devra être confirmée par lacabanedemaii.com, par courrier électronique. La vente ne sera considérée comme définitive qu'après l'envoi au client de la confirmation de la commande par lacabanedemaii.com et encaissement par celle-ci de l'intégralité du prix. lacabanedemaii.com recommande au client de conserver ces informations sur un document papier ou informatique. <br> <br>
        <strong>Pour acheter un ou plusieurs articles, le processus de commande est le suivant :</strong> <br>
        – Choix des articles et ajout au panier <br>
        – Validation du contenu du panier <br>
        – Identification sur le site internet ou inscription sur la fiche d'identification sur laquelle devra être indiqué toutes les coordonnées demandées <br>
        – Choix du mode de livraison <br>
        – Choix du mode de paiement et acceptation des CGV <br>
        – Validation du paiement <br><br>
        Le client recevra un e-mail de confirmation de commande. Le client pourra à tout moment visualiser lors du processus de commande le détail de sa commande ainsi que son prix total en ouvrant son panier et corriger d'éventuelles erreurs, avant de la confirmer pour exprimer son acceptation. <br>
        Le vendeur lacabanedemaii.com se réserve la propriété des articles jusqu'au règlement complet de la commande, c'est à dire à l'encaissement du prix de la commande par le vendeur lacabanedemaii.com. <br>
        Le vendeur lacabanedemaii.com se réserve le droit d'annuler ou de refuser toute commande qui émanerait d'un client avec lequel il existerait un litige relatif au paiement d'une commande précédente. <br>
        Toute commande vaut acceptation des prix et descriptions des articles disponibles à la vente. <br>
        Le vendeur lacabanedemaii.com s'engage à honorer les commandes reçues sur le site internet seulement dans la limite des stocks disponibles dès lors que le paiement a été validé et vérifié.
        </p>
        <hr class="separator">
        <h2>6 - Modalités de paiement</h2>
        <p> TO FINISH</p>
        <hr class="separator">
        <h2>7 - Modes de livraison proposés, délais et tarifs</h2>
        <p><strong>FRANCE métropolitaine, corse et Monaco.</strong></p>
        <p>Précision : Les délais peuvent être exceptionnellement allongés lors de périodes de soldes ou d'opérations promotionnelles. CYMATHO ne saurait en aucun cas être rendu responsable d'un retard occasionné par un dysfonctionnement du transporteur que le client aura préalablement choisi. Dès que le colis a été remis au transporteur, c'est sous la responsabilité du client que s'effectue la livraison. <br>
        <strong>Toute commande passée sur le site du vendeur lacabanedemaii.com sera traitée sans délai aussi tôt le paiement validé. <br>
        Toute commande passée avant 12h30 du lundi au vendredi (hors jours fériés) sera préparée et expédiée le jour même, sous réserve de validation du paiement.</strong></p>
        <p class="disclaimer"><strong>Un email de mise en préparation de commande vous est adressé.</strong></p>
        <p>Le vendeur lacabanedemaii.com s'engage à livrer les commandes passées par
          le client en un délais prévus. Si les dits articles n'ont pas été expédiés dans un délai de 14 jours à compter de la date de livraison prévue lors de la commande, et si ce dépassement n'est pas lié à un cas de force majeure, le client pourra procéder à la résolution de la vente, en envoyant un courrier recommandé avec accusé de réception à l'adresse suivante CYMATHO SAV la cabane de Maï, 16 Avenue pasteur 33510 ANDERNOS LES BAINS. <br>
          Les sommes réglées par le client lui seront alors intégralement remboursées. <br>
          Les produits sont expédiés en colissimo suivi domicile contre signature,
          après réception du paiement intégral de la commande, à l'adresse indiquée par
          le client sur le bon de commande, en France métropolitaine, en Principauté de
          Monaco et en Corse. Ces informations sont données à titre indicatif et
          n'engagent en rien la responsabilité du vendeur et n'exonèrent pas le client de ses obligations détaillées dans ces conditions générales de vente. Tout
          dépassement éventuel ne saurait donner lieu à indemnisation sous quelque
          forme que ce soit ou annulation de la commande par le client. Conformément
          aux dispositions de l'Article L 121.20.3 du code de la consommation, les produits commandés seront livrés dans un délai maximum de trente jours à compter de l'enregistrement de la commande, sous réserve du paiement complet du prix. Si ce délai n'était pas respecté, le client peut annuler sa commande de plein droit. <br>
          Les sommes versées par le client lui seront immédiatement restituées, à
          l'exclusion de toute indemnisation. <br>
          Dans tous les cas le client dispose d'un délai de 30 jours ouvrés à compter de la date d'expédition de la commande pour signaler la non réception et demander la résolution de la vente et le remboursement des articles. Passé ce délai, aucune résolution de la vente ne sera acceptée. <br>
          En dehors de ce cas extrême rare, le vendeur demande au client, en cas de retard de livraison par rapport à la date initialement fixée, de le signaler par écrit (courrier, courriel) à CYMATHO SAV, 16 avenue pasteur 33510 Andernos les Bains. <br>
          Ceci a pour objectif d'améliorer la qualité des services proposés au client
          et de permettre à lacabanedemaii.com de procéder à une enquête auprès du
          transporteur qui peut durer jusqu'à 21 jours ouvrés. Que le produit soit retrouvé ou non durant ce délai, le vendeur adressera à ses frais le produit initialement commandé à l'adresse désignée sur le bon de commande, ou procédera à un échange avec l'accord du client (les frais d'envois sont alors à la charge du client), du montant total des sommes engagées ou enfin procédera à l'émission d'un avoir d'un montant similaire à valoir sur le site www.lacabanedemaii.com. <br>
          lacabanedemaii.com assure un emballage de qualité et une protection adaptée des articles commandés. Si malgré ces précautions le client était amené à constater des avaries ou déformation du colis à la réception, il est impératif que le client refuse catégoriquement la livraison et signale l'incident au SAV La cabane de Maï. Si vous acceptez un colis présentant des avaries, il ne vous sera plus possible d'en obtenir ultérieurement le remboursement ou l'échange. <br>
          <strong>Un email d'expédition vous est adressé dès que votre colis est remis au réseau LA POSTE COLISSIMO. <br>
          Les envois Colissimo vous sont facturés 5,80€ jusqu'à 50€ d'achats. Au delà les frais de port vous sont gracieusement offerts.
          </strong>
        </p>
        <h4>caractéristiques des envois Colissimo 48h</h4>
        <p>Le client est livré à son domicile par les services de la poste contre signature d'un accusé de réception. <br>
        En cas d'absence, le client ou le destinataire désigné lors de la passation de la commande reçoit un avis de passage qui lui permet de retirer sa commande dans son bureau de poste dans un délai de quinze jours, toujours contre signature. Le client est tenu de vérifier en présence du préposé de la poste ou du livreur l'état de l'emballage de la marchandise. <br>
        Toute anomalie constatée (article manquant, colis endommagé, article abîme...) devra obligatoirement être indiquée au vendeur lacabanedemaii.com dans les 24 heures suivant la réception . Il est également impérativement demandé de suivre la procédure Colissimo (signaler les dommages, réclamations et réserves) et de refuser la marchandise en émettant immédiatement un constat d'anomalie auprès du préposé de la poste (constat 170). Tout manquement à cette obligation de contrôle entraînera la nullité de toute réclamation ultérieure. <br> Le client aura la faculté de transmettre ses réserves au choix à : lacabanedemaii@gmail.com ou par téléphone au 06 42 22 57 11 du mardi au dimanche de 10h à 13h et de 15h à 19h.
        </p>
        <h4>Suivi de colis</h4>
        <p>Suivre le lien : <a href="https://www.laposte.fr/particulier/outils/suivre-vos-envois" target="_blank" rel="noopener noreferrer">colissimo</a> <br><br>
        Les frais d'expédition comprennent l'emballage, la manutention et les frais postaux. Ils peuvent contenir une partie fixe et une partie variable en fonction du prix (ou du poids de votre commande dans certains cas particuliers). Nous vous conseillons de regrouper vos achats en une unique commande. Nous ne pouvons pas regrouper deux commandes distinctes et vous devrez vous acquitter des frais de port pour chacune d'entre elles. Votre colis est expédié à vos propres risques, un soin particulier est apporté au colis contenant des produits fragiles. Les colis sont surdimensionnés et protégés.</p>
        <hr class="separator">
        <h2>9 - Délais de rétractation : échange ou remboursement</h2>
        <p>Le client dispose de 14 jours pour demander un échange ou un remboursement. <br><br>
        Conformément à la loi HAMON n°2014-344 du 17 mars 2014 modifiée
        le16 juin 2014, les clients, personne physiques non professionnelles,
        bénéficient d'un délai de quatorze (14) jours à compter de la réception de leur commande pour demander un échange d'un ou plusieurs produit(s)
        de votre commande sans justificatif, sans pénalités ni retenue
        <strong>en dehors des frais de retour/ réexpédition qui restent à la charge du client en cas de retour partiel de commande ou pour les produits hors nouvelles collections.</strong> <br>
        Toute demande de retour doit préalablement être transmise par mail pour validation à notre service client à lacabanedemaii.com. <br>
        <strong>Les échanges ne sont possible que dans la limite des stocks disponible. <br>
        En cas de rupture de stock, le SAV La cabane de Maï pourra vous proposer un autre produit ou vous proposer le remboursement de votre commande dans les termes édictés ci-dessous.</strong> <br>
        Tout retour sera accompagné du formulaire de retour joint à votre colis que vous aurez pris le temps de compléter en précisant vos attentes,  échange, avoir ou remboursement, signé et daté.</p> <br>
        <h4>A/ Gestion du retour</h4>
        <p><strong>Demande de remboursement/échange</strong> <br>
        Veuillez apposer sur votre colis le bon de retour COLISSIMO que nous vous adressons par mail suite à votre requête. Déposez le dans votre bureau de poste sans oublier de faire tamponner la preuve de dépôt que vous conserverez jusqu'à la clôture de votre dossier échange. Vous conserverez la preuve du dépôt jusqu'au terme du dossier. Une assurance correspondant à la valeur des biens retournés pourra vous prémunir contre les désagréments liés à une perte ou à une avarie interdirait la prise en charge de votre dossier par nos services. <br>
        Vous utiliserez le colis que vous avez reçu pour effectuer votre retour si son état le permet. Dans tous les cas, veillez à ce que les produits soient protégés et non dégradés du fait d'un emballage non adapté et non hermétique. Vous veillerez également à ce que les produits retournés soient dans leur état neuf avec tous les articles avec lesquels ils vous auront été livrés (étiquettes, cartonnettes, emballages). Nous vous rappelons que les produits que vous retournez seront immédiatement remis à la vente. Cela signifie qu'ils n'auront été ni déballés, ni utilisés. <br>
        <strong>Nous ne rembourserons ni n'échangerons un produit ne respectant pas ces règles.</strong> <br> <br>
        <h4>B/ Réception du colis dans un délais de 14 jours francs suivant votre demande : </h4>
        <p>En l'absence de problême lors des contrôles :</p>
        <ul class="list-unstyled">
          <li>
            <p>1 - En cas de demande de remboursement : <br>
            Nous procédons sous 14 jours francs au remboursement sur la carte bancaire ayant servi au paiement initial ou par chèque bancaire du/des produit(s) retourn(s)majoré s'il y a lieu des frais de transport initialement payés (dans le cas d'un retour partiel de commande, les frais restent acquis au vendeur et ne seront donc pas remboursés).</p>
          </li>
          <li>
            <p>
              2 - En cas de demande d'échange (avec l'accord du SAV) : <br>
            Nous vous expédions à nos frais le produit pour lequel vous avez demandé un échange.
            </p>
          </li>
        </ul> <br>
        <strong>Rappel important : <br>
          Cette procédure n'est valide que pour la première opération d'échange sur une commande. Au-delà les frais de retour et d'échange sont toujours à la charge du client.
        </strong> <br>
        <p><strong>Une demande de PARTICIPATION AUX FRAIS de RE-EXPEDITION vous est demandée via PAYPAL correspondant au poids du colis (voir tableau ci-dessous) :</strong></p>
        <table id="price-table">
          <tr>
            <th>Poids (max.)</th>
            <th>Re-livraison Colissimo Domicile Signature facturé T.T.C (1)
            </th>

          </tr>
          <tr>
            <td>0,25 kg</td>
            <td>4,90€</td>
          </tr>
          <tr>
            <td>0,50 kg</td>
            <td>5,90€</td>
          </tr>
          <tr>
            <td>0,75 kg</td>
            <td>6,90€</td>
          </tr>
          <tr>
            <td>1,00 kg</td>
            <td>7,90€</td>
          </tr>
          <tr>
            <td>2,00 kg</td>
            <td>10,90€</td>
          </tr>
          <tr>
            <td>3,00 kg</td>
            <td>11,90€</td>
          </tr>
          <tr>
            <td>4,00 kg</td>
            <td>12,90€</td>
          </tr>
          <tr>
            <td>5,00 kg</td>
            <td>13,90€</td>
          </tr>
          <tr>
            <td>6,00 kg</td>
            <td>14,90€</td>
          </tr>
          <tr>
            <td>7,00 kg</td>
            <td>15,90€</td>
          </tr>
          <tr>
            <td>8,00 kg</td>
            <td>16,90€</td>
          </tr>
          <tr>
            <td>9,00 kg</td>
            <td>17,90€</td>
          </tr>
          <tr>
            <td>10,00 kg</td>
            <td>18,90€</td>
          </tr>
        </table>
        <p>
          <strong>Tous les produits sont neufs et contrôlés (photographie) avant leur expédition.</strong> <br>
          Toutefois, si une malfaçon ou un vice caché nous avait échappé, votre produit serait immédiatement remplacé ou remboursé sans aucune charge supplémentaire pour vous. <br>
          A toutes fins utiles, nous vous rappelons que les photos ne sont pas
          contractuelles. Ainsi les tonalités des couleurs des produits reçus
          peuvent être légèrement différentes du visuel qui varie selon le matériel informatique que vous utilisez. Elles dépendent aussi de l'éclairage au moment de la prise. Une commande ne pourra en aucun cas être annulée pour ce motif. <br>
        </p>









      </div>
    </div>
  </div>

</div>
