<div class="legal-page">
  <div class="breadcrumbs back">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <div class="container">
    <div class="legal col-xs-12">
      <h1 class="main-title page-title text-center">Mentions légales</h1>
      <br>
      <hr class="sep">
      <div class="legal-text col-xs-12">
        <p>
          Le site www.lacabanedemaii.com est édité par la société CYMATHO (la cabane de Maï) SAS, au capital de 6000€. <br>
          Le siège social est situé au 16 avenue pasteur, N° 3 la closerie du parc, 33510 andernos les bains. <br>
          Numéro de téléphone : +33 6 42 22 57 11 <br>
          Adresse mail : contact@lacabanedemaii.com
        </p>
        <p>
          Autorisation d'exercer faite par la chambre de commerce et d'industrie de Bordeaux
          17 place de la bourse
          CS61274
          33076 Bordeaux cedex-France
          N°SIRET: 81964459200019
          N°TVA: FR84819644592
        </p>

         <p>
          L'hébergement du Site est assuré par la Société HEROKU (Salesforce) :
          <br>
          The Landmark @ 1 Market St., Suite 300, 94105 San Francisco, CA, U.S.A
        </p>

        <p>
          Pour toute question, merci d'adresser vos demandes à : <br>
          <a href="mailto:lacabanedemaii@gmail.com">lacabanedemaii@gmail.com</a> <br>
          16 avenue pasteur <br>
          N° 3 la closerie du parc <br>
          33510 andernos les bains <br>
        </p>

        <p>
          Maïlys Dechaintre est la directrice des publications.
        </p>

      </div>
    </div>
  </div>
</div>
