<div class="page">
  <div class="breadcrumbs back">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="about col-xs-12">
        <h1 class="main-title page-title text-center">Qui_sommes_nous</h1>
        <p class="main-text">Au terme de 15 ans passés au sein de la grande distribution dans la région bordelaise dont elle est originaire, Maï a besoin d’oxygène, Maï a besoin d’indépendance, Maï a besoin de donner libre court à sa créativité. Il ne lui manque qu’un petit coup de pouce pour la faire s’envoler...
        Celui-ci viendra de son petit frère Cyril, déjà lui-même entrepreneur, il est prêt à l’accompagner dans son « échappée belle »  et c’est au cours d’une balade dans les rues d’Andernos les bains par un bel après-midi de printemps qu’ils ont compris que c’était là qu’ils allaient donner vie à leur projet.
        <br>
        Voici maintenant leur dernier né: <br>
        « le site web » LA CABANE DE MAÏ
        afin de répondre aux nombreuses demandes de leurs clients de passage souhaitant retrouver les produits qui les ont séduits lors de leur visite!</p>
        <br>
        <hr class="sep">
      </div>
    </div>

    <div class="row">
      <div class="location-infos col-xs-12">
        <h1 class="main-title page-title text-center">Nous trouver</h1>
        <div class="location-head">
          <div class="location-left">
            <div class="adress">
              <div class="adress-left">
                <i class="far fa-compass"></i>
              </div>
              <div class="adress-right">
                <h6 class="sub-title">Adresse</h6>
                <p class="main-text" id="adress-details">16 avenue pasteur<br>Andernos-les-Bains 33510</p>
              </div>
            </div>
            <div class="time">
              <div class="time-left">
                <i class="far fa-clock"></i>
              </div>
              <div class="time-right">
                <h6 class="sub-title" >Horaires d'ouverture</h6>
                <p class="main-text hidden-xs" id="time-table">10:00 - 13:00 PM / 15:00 PM - 20:00 PM</p>
                <p class="main-text mobile-display1 hidden-sm hidden-md hidden-lg">10:00 - 13:00 PM</p>
                <p class="main-text mobile-display hidden-sm hidden-md hidden-lg">15:00 PM - 20:00 PM</p>
              </div>
            </div>
          </div>
          <div class="location-right">
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
