<div class="page">
  <div class="container">
    <h1 class="main-title">Qui_sommes_nous</h1>
    <p class="main-text">Au terme de 15 ans passés au sein de la grande distribution dans la région bordelaise dont elle est originaire, Maï a besoin d’oxygène, Maï a besoin d’indépendance, Maï a besoin de donner libre court à sa créativité. Il ne lui manque qu’un petit coup de pouce pour la faire s’envoler...
    Celui-ci viendra de son petit frère Cyril, déjà lui-même entrepreneur, il est prêt à l’accompagner dans son « échappée belle «  et c’est au cours d’une balade dans les rues d’Andernos les bains par un bel après-midi de printemps qu’ils ont compris que c’était là qu’ils allaient donner vie à leur projet.
    <br>
    Voici maintenant leur dernier né: <br>
    « le site web » LA CABANE DE MAÏ
    à fin de satisfaire aux nombreuses demandes de leurs clients de passage souhaitant retrouver les produits qui les ont séduits lors de leur visite!</p>
    <br>
    <hr id="sep">
    <h1 class="main-title">Nous trouver</h1>


  </div>

</div>
