<h1>Message reçu via le site</h1>
<hr>
<h2>Message de: <%= @name %> / Email : <%= @sender %> </h2>
<h3>Sujet : <%= @title %> </h3>
<p><%= @body %></p>
<hr>
<p style="font-weight: bold;">N'oubliez pas de mettre l'email de l'éxpéditeur lors de la réponse. <br>
Ce mail est un message automatique généré par le site la Cabane de Maii.
</p>

