<div class="container show-page">
  <%= render "shared/tab" %>
  <div class="breadcrumbs back">
    <%= render_breadcrumbs :separator => ' > ' %>
  </div>
  <%= render "produits/product_card" %>
</div>

