.banner {
  background-image: url("banniere01.png");
  min-height: 100vh;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 540px) {
  .banner {
  height: 300px;
    img {
      height: 295px;
      width: 100%;
    }
  }
}
