.banner {
  background-image: url("banniere02.png");
  min-height: 360px;
  // background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position-y: 70px;
}

@media (max-width: 540px) {
  .banner {
  min-height: 225px;
  background-image: url("banniere01.png");
  }
}
