.back {
  margin-left: 55px;
  margin-top: 20px;
  padding-top: 5px;
  color: $secondary;
  font-size: 14px;
  font-style: italic;
  a {
    color: $secondary;
  }
  a:hover {
    text-decoration: underline;
    opacity: 0.6;
  }
}

@media (max-width: 730px) {
  .back {
    margin-left: 12px;
    font-size: 12px;
  }
}
