.carousel img {
    width: 320px;
    height: 220px;
    background: cover;
    object-fit: cover;
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
 {
  .carousel {
    height: 220px;
  }
}
