.cart-row {
  margin-top: 10px;
  margin-bottom: 12px;
  h6 {
      margin-top: -5.5px;
  }
}

.cart-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin: 0 0 0 85px;
}

.cart-pic {
  max-height: 125px;
  max-width: 125px;
  padding: 0 5px 10px 5px;
  border: 1px solid $primary;
}

.cart-pic:hover {
  opacity: 0.6;
}

.separator2 {
  border-top: 1px solid #DDCEBB;
  margin: 0;
  margin-left: 21px;
}

.unit {
  max-width: 187px;
}

.name {
  width: 125px;
  word-wrap:break-word;
}

#price {
  font-size: 19px;
}

p {
  font-size: 12px;
  margin: -13px 0 2px;
}

.quantity  {
  margin-top: 27px;

  .form-control {
    height: 35px;
    font-size: 14px;
  }
}

.q {
  font-size: 11px;
}

.fa-trash-alt {
  color: #686868;
  font-size: 25px;
  opacity: 1;
}

.fa-trash-alt:hover {
  opacity: 0.6;
}

@media (max-width: 730px) {
  .cart-list{
    margin: 0;
  }
  .total {
    width: 100%;
    padding-right: 38px;
  }
  .separator2 {
    margin-left: 0;
  }
}
