.dropdown-style {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding:20px;
  top: -25px;
  left: -80px;
  border-radius:2px;
  transition: all 0.5s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
  z-index: 12;
    p {
      margin: 10px;
      font-size: 12px;
    }

    h6 {
      font-size: 13px;
    }
    h5 {
      margin: 15px;
    }
}

.trigger-enter .dropdown-style {
    display: block;
  }

.trigger-enter-active .dropdown-style {
  opacity: 1;
}

.dropdownBackground {
  width:0px;
  height:0px;
  position: absolute;
  background: white;
  border-radius: 4px;
  box-shadow: 0 -3px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);;
  // transition:all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity:0;
  z-index: 11;
}

.dropdownBackground.open {
  opacity: 1;

}
.arrow-style {
  position: absolute;
  width:20px;
  height:20px;
  display: block;
  background:white;
  transform: translateY(-50%) rotate(45deg);
}

.pic-cart-anim {
  height: 75px;
  width: 75px;
  margin-top: -10px;
}

  .cart-anim {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 10px;
  }

  .cart-anim-right {
    min-width: 150px;
    padding-left: 25px;
  }

  .cart-anim-empty {
    padding: 20px;
    width: 235px;
    height: auto;
    p {
      font-size: 14px;
    }
  }
