.card {
  margin: 30px 0 30px 0;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 3px;
  padding: 15px;
}

.card-pic {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

}


.card-hover {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.card-up:hover .pic  {
  opacity: 0.3;
}

.card-up:hover .card-hover  {
  opacity: 1;
}

.text {
  background-color: $green;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.btn {
  background-color: $secondary;
  border: 0;
  opacity: 1;
  font-family: Cinzel;
  font-size: 16px;
}

.btn:hover {
  opacity: 0.6;
  background-color: $secondary;
}

.card-info {
  h5 {
    color: black;
    font-size: 20px;
        overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  h6 {
    font-weight: bold;
    font-size: 20px;
    color: $secondary;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}


@media (max-width: 540px) {
  .card-info {
    h5 {
      font-size: 10px;
    }
    h6 {
      font-size: 10px;
    }
  }
  .btn {
    font-size: 11px;

  }
  .card-hover {
    top: 34%;
    left: 50%;
   .text {
     padding: 10px 7px;
    font-size: 10px;
    }
  }
}



