.carousel-home {
  margin: 40px -3px 20px 23px;
}

.carousel-home img {
    width: 320px;
    height: 220px;
    background: cover;
    object-fit: cover;
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
 {
  .carousel-home {
    height: 220px;
  }
}
