.cc-banner {
  height: 60px;
  font-family: $body-font !important;
  font-size: 13px !important;
  margin-right: 1.5em;
  flex: 0;
}

.cc-message {
  margin-left: 50px;
  flex: 0 1 auto !important;
}

.cc-btn {
  min-width: 100px !important;
}

.cc-btn:hover,
.cc-btn:focus {
  background-color: #ddceba !important;
  text-decoration: none !important;
  box-shadow: none;
}

.cc-window.cc-banner {
  align-items: center;
  justify-content: center;
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px) {
  .cc-window.cc-floating {
    min-width: 100% !important;
    max-width: 900px !important;
    border-radius: 0 !important;
    left: 0 !important;
    right: 0 !important;
  }

  .cc-bottom {
    bottom: 0 !important;
  }
}
