.footer {
  margin-top: 40px;
}

.reinsurance {
  background: $primary;
  padding: 40px 0px;

  p {
    font-size: 15px;
    padding: 15px;
    margin: 10px 0;
  }
}

#reinsurance-row {
  padding-left: 50px;
}

.reinsurance-item {
  text-align: center;
  padding: 30px 15px 15px 15px;
  height: 223px;
}


.icon-footer {
  height: 80px;
  padding-top: 12px;
}


.links {
  padding: 40px 0px;
  a {
    color: #333333;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
}

.links {
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    margin-bottom: 5px;
  }
}

.links-items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 50px 10px 120px;
}


.footer-item {
  p {
    font-size:14px;
    margin: 0px auto;
  }
}

.footer-link {
  cursor: pointer;
  font-size: 14px;
}

.footer-link:hover {
  opacity: 0.8;
  color: #512501;
  text-decoration: none;
}


@media all and (max-width:1000px) {
  .footer-link {
    width: 100%;
  }
  .footer {
    height: 100%;
    flex-direction: column;
  }
  .footer-link ul {
    flex-wrap:wrap;
    margin: 15px 0 15px 0px;
  }
  .footer-link li {
    flex: 1 1 auto;
    padding: 10px;
  }
  .footer-social {
    margin: 0 0 20px 0 !important;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer {
      padding:0;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
    .footer-link {
      font-size: 11px;
      width: 100%;
    }
    .footer-link a {
      margin: 5px;
    }
    .footer-link ul {
      margin: 20px auto;
    }
    .footer-social {
      margin: 0 0 20px 0 !important;
    }
    .footer-link li {
      flex: 1 1 auto;
      padding: 10px;
      text-align: center;
    }
}


.footer-social  {
  display: flex;
  align-items: center;
  margin: -10px 65px 0px 30px;
  float: right;
  p {
    font-size: 14px;
    margin: 0 10px;
  }
}

.footer-social a {
  color: $green;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}

.footer hr {
  margin: 5px 0 10px 0;
}

.footer-bottom {
  padding-bottom: 15px;
  p {
    font-size: 13px;
    margin: 0 10px;
  }
}

#flex-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 100px;
}


.logo-alex {
  height: 40px;
  padding-left: 10px;
}
.logo-alex:hover {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, .9) translateY(0);
  }
  30% {
    transform: scale(.9, 1.1) translateY(-15px);
  }
  50% {
    transform: scale(1.05, .95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(-15px);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
