.footer {
  margin-top: 40px;
}

.reinsurance {
  background: $primary;
  padding: 40px 0px;

  p {
    font-size: 15px;
    padding: 15px;
    margin: 10px 0;
  }
}

.reinsurance-item {
  text-align: center;
  padding: 30px 15px 15px 15px;
  height: 223px;
}


.icon-footer {
  height: 80px;
  padding-top: 12px;
}


.links {
  padding: 40px 0px;
  a {
    color: #333333;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
}

.links {
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    margin-bottom: 5px;
  }
}

.links-items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 50px 10px 100px;
}


.footer-item {
  p {
    font-size:14px;
    margin: 0px auto;
  }
}

.footer-link {
  cursor: pointer;
  font-size: 14px;
}

.footer-link:hover {
  opacity: 0.7;
  color: #512501;
  text-decoration: none;
}


@media all and (max-width:1000px) {
  .footer-link {
    width: 100%;
  }
  .footer {
    height: 100%;
    flex-direction: column;
  }
  .footer-link ul {
    flex-wrap:wrap;
    margin: 15px 0 15px 0px;
  }
  .footer-link li {
    flex: 1 1 auto;
    padding: 10px;
  }
  .footer-social {
    margin: 0 0 20px 0 !important;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer {
      padding:0;
      flex-direction: column;
      align-items: center;
      height: 100%;
    }
    .footer-link {
      font-size: 11px;
      width: 100%;
    }
    .footer-link a {
      margin: 5px;
    }
    .footer-link ul {
      margin: 20px auto;
    }
    .footer-social {
      margin: 0 0 20px 0 !important;
    }
    .footer-link li {
      flex: 1 1 auto;
      padding: 10px;
      text-align: center;
    }
}


.footer-social  {
  display: flex;
  margin: 0 40px 0 30px;
  align-items: center;
  p {
    font-family: 'Montserrat Alternates';
    color: #512501;
    font-size: 13px;
    margin: 0 10px;
  }
}

.footer-social a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.fa-facebook-square:hover {
  color: #4167b2;
}

.fa-instagram:hover {
  opacity: 0.7;
}
