.footer {
  border-top: 1px solid rgba(0,0,0,0.3);
  background: white;
  transition: all 0.3s ease;
  height: 60px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-item {
  cursor: pointer;
  padding: 0 20px;
}

.footer-link {
  width: 70%;
  font-family: 'Montserrat Alternates';
  color: #512501;
  font-size: 13px;
}

.footer-item:hover {
  opacity: 0.7;
  color: #512501;
  text-decoration: none;
}

.footer-link ul {
  display:flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media all and (max-width:1000px) {
  .footer {
    height: 130px;
  }
  .footer-link ul {
    flex-wrap:wrap;
    margin: 15px 0 0 42px;
  }
  .footer-link li {
    flex: 1 1 50%;
    padding: 10px;

  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer-link ul {
      margin: 15px 0 0 0;
      padding-left: 32px;
    }
}

@media (min-width: 320px)
  and (max-width: 730px) {
  .footer {
    padding:0;
    flex-direction: column;
    align-items: center;
  }
  .footer-link {
    font-size: 11px;
    width: 100%;
    margin-bottom: 35px;
  }
  .footer-link a {
    margin: 5px;
  }
}

.footer-social  {
  display: flex;
  margin: 0 40px 0 30px;
  align-items: center;
  p {
    font-family: 'Montserrat Alternates';
    color: #512501;
    font-size: 13px;
    margin: 0 10px;
  }
}

.footer-social a {
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.fa-facebook-square:hover {
  color: #4167b2;
}

.fa-instagram:hover {
  opacity: 0.7;
}
