.log-page {
  min-height: 85vh;
  background: $body-bg;
}

.register {
  .form-login {
    margin: 50px 0;
  }
}

.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 120px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    background: $green;
    border: none;
  }
  #user_remember_me {
    margin-right: 5px;
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
  }

  .form-control {
    font-size: 13px;
    font-family: 'Montserrat Alternates';
  }
}

@media(max-width: 568px) {
  .form-login {
    margin: 40px 0 40px 0;
  }
}

