.form-review {
    font-size: 14px;
    font-family: 'Montserrat Alternates';
  .collection_radio_buttons {
    margin-right: 15px;
  }
  input[type="radio"], input[type="checkbox"] {
      margin: 4px 8px 22px;
  }
}

