.form-review {
    font-size: 14px;
    font-family: 'Montserrat Alternates';
  .collection_radio_buttons {
    margin-right: 15px;
  }
  .form-control{
    font-size: 14px;
  }
  input[type="radio"], input[type="checkbox"] {
    margin: 4px 8px 22px;
  }

}
.modal-content {
  button.close {
    padding: 10px;
  }
}




textarea#review_content {
  height: 100px;
}
  .form-check {
    margin-bottom: -20px;
    margin-top: 10px;
  }

.modal-title {
  padding: 10px;
}

.separator3 {
  border-top: 1px solid #DDCEBB;
}

.thumb {
  height: 100px;
  width: 100px;
}
