#navbar {
  // position:fixed;
  width: 100%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 0 0 rgba(0, 0, 0, 0.3);
  z-index:10000;
  background-color: white;
  // transition: visibility 0.6s linear, opacity 1s linear;
}

.navbar-top {
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  height: 65px;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: baseline;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  font-family: 'Montserrat Alternates';
  color: #512501;
  font-size: 13px;
}
.navbar-link:hover {
  opacity: 0.7;
  color: #512501;
  text-decoration: none;
}

.right {
  margin-top: 8px;
  p {
    padding: 0 76px;
    margin-top: 5px;
  }
  a {
    margin-left: 60px;
  }
}

.right ul {
  list-style: none;}

.navbar-dropdown-menu {
  margin-top: 15px;
  right: -22px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}

.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #404040 !important;
  font-size: 12px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  font-family: 'Montserrat Alternates';
  font-size: 13px;
  color: $secondary !important;
  font-weight: bold !important;
}
.navbar-dropdown-menu:before {
  // content: ' ';
  height: 10px;
  width: 10px;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  border-radius: 5px !important;
}

.navbar-dropdown-menu-bis {
  top: 40px;
  right: -26px;
  height: 60px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-color: #E6E6E6;
  min-width: 200px;
}

.navbar-dropdown-menu-bis li > a:hover {
  color: $secondary !important;
  font-weight: bold !important;
}

.free_delivery {
  color: #D3D3D3;
  font-size: 12px;
  font-style: italic;
  margin: 0px -46px -9px;
}


.cart-text {
  padding: 20px;
  margin-right: 40px;
  position: relative;
}

.header-cart {
  display:flex;
  color: black;
  font-family: 'Montserrat Alternates';
  margin-top: 9px;

  p {
    margin: -4px 0 2px;
    font-size: 13px;
  }
}

.header-cart:hover {
  text-decoration: none;
  color: black;
}

.fa-shopping-cart {
  font-size: 19px;
  padding: 2px 12px;
}

.nb-products {
  margin-top: 5px !important;
  font-size: 12px !important;
}

.carret {
  margin-top: 10px;
  margin-left: -8px;
  cursor: pointer;
}

.arrow {
  border-top: 1px solid #E6E6E6;
  border-left: 1px solid #E6E6E6;
  position: absolute;
  width:20px;
  right: 20px;
  height:20px;
  display: block;
  background:white;
  transform: translateY(-78%) rotate(45deg);
}

.icons-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-search {
  margin-right: 40px;
  .fa-search {
  color: black;
  font-size: 14px;

  }
}

@media (max-width: 730px) {
  .navbar-top {
    padding: 0px 10px;
  }
  .fa-shopping-cart {
    font-size: 16px;
    padding: 5px 4px;
  }
  .cart-text {
    margin-right: -20px;
  }
  .header-cart {
    margin-top: 2px;
    // margin-left: 93px;
    padding-right: 15px;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
 {
  .cart-text {
    margin-right: 0;
  }
}
