.comments {
  margin: 50px 20px 10px 20px;
  padding: 12px 22px;
  h6 {
    font-size: 18px;
  }
  p {
    margin: 0;
  }
}

.avg-rating{
  margin: 20px 0 20px 25px;
  display: flex;
  align-items: center;
}

.avg-title {
  padding-right: 15px;
}

.star {
  padding-right: 15px;
}

.list-group {
}


.review-item {
  border-bottom: 1px solid #DDCEBB;
  margin-bottom: 0;
  position: relative;
  display: block;
  padding: 12px 22px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.review-left {
  flex-basis:40%;
}
.content {
  flex:1;
}

#author {
  text-transform: capitalize;
  font-style: italic;
}
