.comments {
  margin: 5px 20px 10px 20px;
  padding: 12px 22px;
  h6 {
    font-size: 18px;
  }
  p {
    margin: 0;
    font-size: 13px;
  }
}

#com-title {
  margin-left: 21px;
}

.review-part {
  border: 1px solid $primary;
  margin-bottom: 30px;
}

.avg-rating{
  margin: 20px 0 20px 23px;
  display: flex;
  align-items: center;
}

#avg-title {
  padding-right: 15px;
}

#nb-comments {
  margin-left: 10px;
}

.star {
  padding-right: 15px;
}

@media(min-width: 992px) {
  .com-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.com-sub-right {
  margin-right: 50px;
}

.com-sub-right-connect {
  margin-right: 50px;
  text-align: center;
}

#review_connect {
  padding-top:8px;
  font-style: italic;
}


.btn-avis {
  background-color: $green;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  padding: 6px 30px;
}

.btn-avis:hover {
  opacity: 0.8;
  color: white;
}

#connect {
  margin-top: 20px;
}
.review-item {
  position: relative;
  display: block;
  padding-bottom: 20px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  margin: 15px 0 15px 20px;
}

.review-left {
  flex-basis:40%;
}

.review-right {
  flex:1;
}

#author {
  text-transform: uppercase;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 15px;
  color: #787878;
}

.fa-star {
  color: #c7a656;
}

.stars {
  padding-bottom: 15px;
}

.fa-check-circle {
  color: $green;
}

@media(max-width: 730px) {
  .comments {
    margin: 0;
    padding: 0;
    h6 {
      font-size: 16px;
      margin-left: 0;
    }
  }
  .com-sub-right {
    margin: 0 0 20px 80px;
  }

  .com-sub-right-connect {
    margin-right: 0px;
    padding-bottom: 10px;
  }

  .avg-rating h6 {
    margin: 10px auto;
  }
  #author {
    margin-bottom: 27px;
  }
  .review-item {
    padding: 0px 0px 20px 0px;
  }
  .review-left {
    padding-right: 22px;
  }
  .review-right {
    padding-left: 0px;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
  .com-sub {
    margin-bottom: 30px;
  }
  .review-left {
    padding-right: 22px;
  }
  .review-right {
    padding-left: 40px;
  }
  .review-part {
    margin: 30px 0;
  }
  .btn-avis {
    margin-left: 21px;
  }
}
