.search {
  .form-search {
    border-width: 0 0 1px;
    border-color: #512501;
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 25px;
    width: 200px;
  }

  input {
    font-style: italic;
    color: #888;
    font-size: 13px;
    font-family: 'Montserrat Alternates';
    height: 26px;
    line-height: 24px;
  }
}

.fa-search {
font-size: 12px;
color: #512501;
}

.search_submit {
  border: none;
  background-color: white;
}

@media(min-width: 1200px) {
  .search {
    margin-left: -400px;
    margin-top: 5px;
  }
}

@media(max-width: 730px) {
  .search {
    .form-search {
      width: 100px;
      margin-left: 20px;
    }
    input {
      font-size: 9px;
      height: 25px;
    }
  }
}
