.tabs-show {
  margin-bottom: 10px;
}

.tabs {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  h3 {
    color: $secondary ;
    font-size: 18px;
    padding: 0 15px;
    margin-bottom: 6px;
  }
  a {
    text-decoration: none;
  }
}


.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  h3 {
    opacity: 0.8;
  }
}

.tabs a:not(.tab-active):after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background:$primary;
  transition: width .3s;
}

.tabs a:hover:not(.tab-active):after {
  width: 100%;
}

.tab-active h3 {
  font-weight:bold;
}

@media (max-width: 540px) {
  .tabs {
    h3 {
      font-size: 11px;
    }
  }
}
