.tabs-show {
  margin-bottom: 10px;
}

.tabs {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  h3 {
    color: $secondary ;
    font-size: 18px;
    padding: 0 15px;
    margin-bottom: 6px;
  }
  a {
    text-decoration: none;
  }
}

.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  h3{
  font-weight: bold;
  opacity: 0.8;
  }
}

.tab.active {
  border-bottom: 3px solid $primary;
}

@media (max-width: 540px) {
  .tabs {
    h3 {
      font-size: 11px;
    }
  }
}
