<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vons contactons pour vous notifier que votre email a été modifié  pour <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vons contactons pour vous notifier que votre email a été modifié  pour <%= @resource.unconfirmed_email %>.</p>
<% end %>
